# backend/docker-compose.yml
version: '3.8'

services:
  backend:
    build: .
    container_name: unidigital-backend
    restart: always
    ports:
      - "5000:5000"
    environment:
      - NODE_ENV=development
      - PORT=5000
      - MONGODB_URI=mongodb+srv://unidigital_app:Blackdog10@cluster0.qfcy4iv.mongodb.net/unidigital?retryWrites=true&w=majority&appName=Cluster0
      - JWT_SECRET=your_jwt_secret_here
      - CORS_ORIGIN=http://localhost:3000
    volumes:
      - .:/app
      - /app/node_modules
    networks:
      - unidigital-network