# backend/render.yaml
services:
  - type: web
    name: unidigital-backend
    env: node
    region: ohio
    plan: free
    branch: main
    rootDirectory: backend
    buildCommand: npm install
    startCommand: npm start
    healthCheckPath: /api/health
    envVars:
      - key: NODE_ENV
        value: production
      - key: PORT
        value: 10000
      - key: MONGODB_URI
        value: mongodb+srv://unidigital_app:Blackdog10@cluster0.qfcy4iv.mongodb.net/unidigital?retryWrites=true&w=majority&appName=Cluster0
      - key: JWT_SECRET
        generateValue: true
      - key: CORS_ORIGIN
        value: https://unidigital-frontend.onrender.com
    autoDeploy: true